<h2><%= @post.title %></h2> 
<h4>Posted by: <%=@post.user.username %></h4>
<table>
    <thead>
        <tr>
<th><%= @post.body %></th>
<% if @post.user_id == session[:user_id] %>
<th>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?"} %>
<%end%>
</th>
</tr>
</thead>
</table>
<p>Comments:</p>

<% @post.comments.each do |comment|%>
<p><%=comment.user.username%> said: <%= comment.body %></p>
<div class="divider"></div>
<div class="section">
</div>
<% end %>
<%=link_to 'Leave a comment', new_comment_path(post_id: @post.id)%>
